<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="base :: layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
</head>
<body>

	<section class="bg_img d-flex justify-content-center align-items-center">
		<div class="text-center">
			<h1 class="font-weight-bold">Smart Contact Manager</h1>
			<p>A Modern way for storing your contacts.We Provide an efficient and smarter way for managing your contacts.</p>
			<a th:href="@{/home/signup}"><button class="btn btn-primary" >Get Started</button></a>
		</div>
		
	</section>


</body>
</html>